.page {
	background: #fff;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.body {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	flex: 1 0 auto;
}

.header {
	padding: 10px;
	border-bottom: solid black 1px;
	margin-bottom: 10px;
}
